<div class="about-main">
  <div class="about-text">
    <h2>YUMEとは</h2>
    <p>
      YUMEは、<strong>あなたの夢を世界と分かち合う場所</strong>。<br>
      自分の夢を投稿し、<strong>他の人の夢を応援</strong>できる、心あたたまるコミュニティです。<br>
      未来への想いをここに残しませんか？
    </p>
  </div>
  <div class="about-image">
    <img class="about-img" src="/tweets.png" alt="夢を投稿するイメージ">
  </div>
</div>
